:root {

    /* ========================================= */
    --color-bg: white;
    --color-text-h: black;
    --color-text-p: black;
    --color-main: blue;
    --color-accent: red;

    --color-bg-sub: white;
    --color-text-h-sub: black;
    --color-text-p-sub: black;
    --color-main-sub: blue;
    --color-accent-sub: red;


    --color-error: red;


    /* ========================================= */
    --max-width: none;
    /* ========================================= */
    --ratio: 1.5;
    --s6: calc(var(--s5)*var(--ratio));
    --s5: calc(var(--s4)*var(--ratio));
    --s4: calc(var(--s3)*var(--ratio));
    --s3: calc(var(--s2)*var(--ratio));
    --s2: calc(var(--s1)*var(--ratio));
    --s1: calc(var(--s0)*var(--ratio));
    --s0: calc(1rem+0.5vw);
    --0: 0rem;
    --s-1: calc(var(--s0)/var(--ratio));
    --s-2: calc(var(--s-1)/var(--ratio));
    --s-3: calc(var(--s-2)/var(--ratio));
    --s-4: calc(var(--s-3)/var(--ratio));
    --s-5: calc(var(--s-4)/var(--ratio));
    --s-6: calc(var(--s-5)/var(--ratio));
    /* ========================================= */
    font-size: var(--s0);
}



* {
    box-sizing: border-box;
    max-width: var(--max-width);
}

.text-center {
    text-align: center;
}

.width-100 {
    width: 100%;
}

/* ========================================= 
            stack
 ========================================= */
[class*="stack-"] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

[class*="stack-"]>* {
    margin-top: 0;
    margin-bottom: 0;
}

/* ========================================= 
            box
 ========================================= */
[class*="box-"] {
    --border-width: 1px;
    border-width: var(--border-width);
    border-style: solid;
    border-radius: var(--radius, 0);

    outline-width: var(--border-width);
    outline-color: transparent;
    outline-offset: calc(var(--border-width)*-1);


    color: var(--color-dark, var(--color-text-h-sub));
    background-color: var(--color-light, var(--color-bg-sub));
}

[class*="box-"] *:not(button) {
    color: inherit;
}

[class*="box-"].invert {
    color: var(--color-light, var(--color-bg-sub));
    background-color: var(--color-dark, var(--color-text-h-sub));
}

/* ========================================= 
            center
 ========================================= */
[class*="center-"] {
    box-sizing: content-box;
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
}

[class*="center-"].inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ========================================= 
            cluster
 ========================================= */
[class*="cluster-"] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* ========================================= 
            sidebar
 ========================================= */
[class*="with-sidebar-"] {
    --side-width: auto;
    --wrap-per: 50%;
    --order: -1;
    display: flex;
    flex-wrap: wrap;
}

[class*="with-sidebar-"]>.side {
    flex-basis: var(--side-width);
    flex-grow: 1;
    order: var(--order);
}

[class*="with-sidebar-"]>.main {
    flex-basis: 0;
    flex-grow: 999;
    min-width: var(--wrap-per);
}

/* ========================================= 
            switcher
 ========================================= */
[class*="switcher-"] {
    --wrap-width: 30rem;
    display: flex;
    flex-wrap: wrap;
}

[class*="switcher-"]>* {
    flex-grow: 1;
    flex-basis: calc((var(--wrap-width)-100%)*999);
}

/* [class*="switcher-"]>:nth-child(n+5), */
/* [class*="switcher-"]>:nth-child(n+5)~* { */
/*     flex-basis: 100%; */
/* } */

/* ========================================= 
            cover
 ========================================= */
[class*="cover-"] {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

[class*="cover-"]>* {
    margin-top: auto;
    margin-bottom: auto;
}

/* [class*="cover-"]>header { */
/*     margin-top: 0; */
/* } */
/**/
/* [class*="cover-"]>footer { */
/*     margin-bottom: 0; */
/* } */



/* ========================================= 
            grid
 ========================================= */
[class*="grid-"] {
    display: grid;
    --min-width: 20ch;
}

@supports(width:min(var(--min-width), 100%)) {
    [class*="grid-"] {
        grid-template-columns: repeat(auto-fit, minmax(min(var(--min-width), 100%), 1fr));
    }
}

/* ========================================= 
            frame
 ========================================= */
.frame {
    --n: 9;
    --d: 16;
    padding-bottom: calc(var(--n)/var(--d)*100%);
    position: relative;
}

.frame>* {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame>img,
.frame>video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ========================================= 
            imposter
 ========================================= */
.imposter {
    position: var(--positioning, absolute);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.jmposter.contain {
    --margin: 0px;
    overflow: auto;
    max-width: calc(100%-(var(--margin)*2));
    max-height: calc(100%-(var(--margin)*2));

}

/* ========================================= 
       icon
 ========================================= */
.icon {
    height: 0.75em;
    height: 1cap;
    width: 0.75em;
    width: 1cap;
}

.with-icon {
    display: inline-flex;
    align-items: baseline;
}

.with-icon .icon {
    margin-inline-end: var(--space, 0.5em);
}

/* ========================================= 

 ========================================= */



.stack-s6>*+* {
    margin-top: var(--s6);
}

.stack-s5>*+* {
    margin-top: var(--s5);
}

.stack-s4>*+* {
    margin-top: var(--s4);
}

.stack-s3>*+* {
    margin-top: var(--s3);
}

.stack-s2>*+* {
    margin-top: var(--s2);
}

.stack-s1>*+* {
    margin-top: var(--s1);
}

.stack-s0>*+* {
    margin-top: var(--s0);
}

.stack-0>*+* {
    margin-top: var(--0);
}

.stack-s-1>*+* {
    margin-top: var(--s-1);
}

.stack-s-2>*+* {
    margin-top: var(--s-2);
}

.stack-s-3>*+* {
    margin-top: var(--s-3);
}

.stack-s-4>*+* {
    margin-top: var(--s-4);
}

.stack-s-5>*+* {
    margin-top: var(--s-5);
}

.stack-s-6>*+* {
    margin-top: var(--s-6);
}

.box-s6 {
    padding: var(--s6);
}

.box-s5 {
    padding: var(--s5);
}

.box-s4 {
    padding: var(--s4);
}

.box-s3 {
    padding: var(--s3);
}

.box-s2 {
    padding: var(--s2);
}

.box-s1 {
    padding: var(--s1);
}

.box-s0 {
    padding: var(--s0);
}

.box-0 {
    padding: var(--0);
}

.box-s-1 {
    padding: var(--s-1);
}

.box-s-2 {
    padding: var(--s-2);
}

.box-s-3 {
    padding: var(--s-3);
}

.box-s-4 {
    padding: var(--s-4);
}

.box-s-5 {
    padding: var(--s-5);
}

.box-s-6 {
    padding: var(--s-6);
}

.cluster-s6 {
    gap: var(--s6);
}

.cluster-s5 {
    gap: var(--s5);
}

.cluster-s4 {
    gap: var(--s4);
}

.cluster-s3 {
    gap: var(--s3);
}

.cluster-s2 {
    gap: var(--s2);
}

.cluster-s1 {
    gap: var(--s1);
}

.cluster-s0 {
    gap: var(--s0);
}

.cluster-0 {
    gap: var(--0);
}

.cluster-s-1 {
    gap: var(--s-1);
}

.cluster-s-2 {
    gap: var(--s-2);
}

.cluster-s-3 {
    gap: var(--s-3);
}

.cluster-s-4 {
    gap: var(--s-4);
}

.cluster-s-5 {
    gap: var(--s-5);
}

.cluster-s-6 {
    gap: var(--s-6);
}

.center-s6 {
    padding-left: var(--s6);
    padding-right: var(--s6);
}

.center-s5 {
    padding-left: var(--s5);
    padding-right: var(--s5);
}

.center-s4 {
    padding-left: var(--s4);
    padding-right: var(--s4);
}

.center-s3 {
    padding-left: var(--s3);
    padding-right: var(--s3);
}

.center-s2 {
    padding-left: var(--s2);
    padding-right: var(--s2);
}

.center-s1 {
    padding-left: var(--s1);
    padding-right: var(--s1);
}

.center-s0 {
    padding-left: var(--s0);
    padding-right: var(--s0);
}

.center-0 {
    padding-left: var(--0);
    padding-right: var(--0);
}

.center-s-1 {
    padding-left: var(--s-1);
    padding-right: var(--s-1);
}

.center-s-2 {
    padding-left: var(--s-2);
    padding-right: var(--s-2);
}

.center-s-3 {
    padding-left: var(--s-3);
    padding-right: var(--s-3);
}

.center-s-4 {
    padding-left: var(--s-4);
    padding-right: var(--s-4);
}

.center-s-5 {
    padding-left: var(--s-5);
    padding-right: var(--s-5);
}

.center-s-6 {
    padding-left: var(--s-6);
    padding-right: var(--s-6);
}

.with-sidebar-s6 {
    gap: var(--s6);
}

.with-sidebar-s5 {
    gap: var(--s5);
}

.with-sidebar-s4 {
    gap: var(--s4);
}

.with-sidebar-s3 {
    gap: var(--s3);
}

.with-sidebar-s2 {
    gap: var(--s2);
}

.with-sidebar-s1 {
    gap: var(--s1);
}

.with-sidebar-s0 {
    gap: var(--s0);
}

.with-sidebar-0 {
    gap: var(--0);
}

.with-sidebar-s-1 {
    gap: var(--s-1);
}

.with-sidebar-s-2 {
    gap: var(--s-2);
}

.with-sidebar-s-3 {
    gap: var(--s-3);
}

.with-sidebar-s-4 {
    gap: var(--s-4);
}

.with-sidebar-s-5 {
    gap: var(--s-5);
}

.with-sidebar-s-6 {
    gap: var(--s-6);
}

.switcher-s6 {
    gap: var(--s6);
}

.switcher-s5 {
    gap: var(--s5);
}

.switcher-s4 {
    gap: var(--s4);
}

.switcher-s3 {
    gap: var(--s3);
}

.switcher-s2 {
    gap: var(--s2);
}

.switcher-s1 {
    gap: var(--s1);
}

.switcher-s0 {
    gap: var(--s0);
}

.switcher-0 {
    gap: var(--0);
}

.switcher-s-1 {
    gap: var(--s-1);
}

.switcher-s-2 {
    gap: var(--s-2);
}

.switcher-s-3 {
    gap: var(--s-3);
}

.switcher-s-4 {
    gap: var(--s-4);
}

.switcher-s-5 {
    gap: var(--s-5);
}

.switcher-s-6 {
    gap: var(--s-6);
}

.cover-s6 {
    padding: var(--s6);
}

.cover-s5 {
    padding: var(--s5);
}

.cover-s4 {
    padding: var(--s4);
}

.cover-s3 {
    padding: var(--s3);
}

.cover-s2 {
    padding: var(--s2);
}

.cover-s1 {
    padding: var(--s1);
}

.cover-s0 {
    padding: var(--s0);
}

.cover-0 {
    padding: var(--0);
}

.cover-s-1 {
    padding: var(--s-1);
}

.cover-s-2 {
    padding: var(--s-2);
}

.cover-s-3 {
    padding: var(--s-3);
}

.cover-s-4 {
    padding: var(--s-4);
}

.cover-s-5 {
    padding: var(--s-5);
}

.cover-s-6 {
    padding: var(--s-6);
}
